:root {
    /* Light mode colors */
    --text-color: #222;
    --subheading-color: #A0A0A0;
    --placeholder-color: #6C6C6C;
    --primary-color: #FFF;
    --secondary-color: #E9EEF6;
    --secondary-hover-color: #DBE1EA;
}